.baton1{
background-color:green;
height:50px;
width:80px;
padding:7px 14px;
cursor:auto;
border-radius:8px 16px;
font-size:15px;
font-weight:bolder;
color:white;
box-shadow:2px 2px 1px red;
}
.baton2{
background-color:green;
height:50px;
width:180px;
padding:7px 14px;
cursor:pointer;
border-radius:8px 16px;
font-size:15px;
font-weight:bolder;
color:white;
box-shadow:2px 2px 1px red;
}
a{
text-decoration:none;
}